<!DOCTYPE html>
<html>
<head>
  <title>RailIt</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="nav">
    Language:
    <%= link_to_unless I18n.locale == :en, "English", locale: "en" %> |
    <%= link_to_unless I18n.locale == :es, "Spanish", locale: "es" %>
  </div>
<%= yield %>
</div>

</body>
</html>
